/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #093542;
  border: 2px solid #001f34;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #001f34;
}
