.common-table-operate-box {
  .el-button {
    margin-right: 10px;
  }
}
.common-search-btn-box {
  margin-left: 12px;
}
.common-margin-top-12 {
  margin-top: 12px;
}
.common-descriptions {
  .el-descriptions-item__label {
    width: 80px !important;
    justify-content: flex-start;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .el-descriptions-item__content {
    width: 0;
  }
  .common-desc-item-text {
    color: rgb(153, 153, 153);
  }
}
.table-span-click {
  cursor: pointer;
}
.courseIntroduce-box {
  * {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  a {
    text-decoration: none;
  }
  iframe {
    width: 100%;
  }
  p {
    line-height: 1.6;
    margin: 0px;
  }
  table {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    border: none;
    border-color: #999;
  }
  .mce-object-iframe {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
