.common-table-operate-box {
  .el-button {
    margin-right: 10px;
  }
}
.common-search-btn-box {
  margin-left: 12px;
}
.common-margin-top-12 {
  margin-top: 12px;
}
.common-descriptions {
  .el-descriptions-item__label {
    width: 80px !important;
    justify-content: flex-start;
    margin-right: 20px;
  }
  .common-desc-item-text {
    color: rgb(153, 153, 153);
  }
}
